<div
  class={{-velvet/class-list "velvet-alert" (concat "velvet-alert-" @level)}}
  role="alert"
  ...attributes
>

  <div class="velvet-alert-header">
    {{#if (has-block "icon")}}
      {{yield (hash class="velvet-alert-icon") to="icon"}}
    {{else}}
      <this.VelvetIconComponent class="velvet-alert-icon" />
    {{/if}}

    <div class="velvet-alert-title">
      {{yield to="title"}}
    </div>

    {{#if this.isHideable}}
      <VelvetIconButton @onClick={{@onHide}} @size="xs" @variant="alert">
        <this.VelvetIconXMark />
      </VelvetIconButton>
    {{/if}}
  </div>

  <div class="velvet-alert-content">
    {{yield to="content"}}
  </div>
</div>