<div
  class={{-velvet/class-list
    "velvet-avatar"
    (concat "velvet-avatar-" (or @size "md"))
    (concat "velvet-avatar-" (or @variant "primary"))
    (if @isRound "velvet-avatar-round")
  }}
  ...attributes
>
  {{#if @src}}
    <img alt={{@name}} class="velvet-avatar-image" src={{@src}} />
  {{else if @name}}
    {{this.initials}}
  {{else if @initials}}
    {{@initials}}
  {{else}}
    <this.VelvetIconUser class="velvet-avatar-icon" />
  {{/if}}
</div>