{{#let (helper "-velvet/class" "velvet-checkbox") as |class|}}
  <label
    class={{-velvet/class-list
      (class)
      (class (or @size "md"))
      (if @isDisabled (class "disabled"))
    }}
  >
    <input
      checked={{if @inGroup (eq (get @groupValue @name) true) @isChecked}}
      class={{-velvet/class-list (class "input") "form-checkbox"}}
      disabled={{@isDisabled}}
      indeterminate={{@isIndeterminate}}
      name={{@name}}
      type="checkbox"
      {{(if
        (and @onChange (not @isDisabled))
        (modifier
          this.on
          "change"
          (if @inGroup this.changeGroupHandler this.changeHandler)
        )
      )}}
      ...attributes
    />
    {{yield}}
  </label>
{{/let}}