{{#let
  (-velvet/class-list
    "velvet-button"
    (concat "velvet-button-" (-velvet/arg @size "md"))
    (concat "velvet-button-" (-velvet/arg @variant "primary"))
    (if @isPill "velvet-button-pill")
    (if @isDisabled "velvet-button-disabled")
    (if @isDisclosure (if @isExpanded "velvet-button-expanded"))
  )
  as |className|
}}
  {{#if @isRenderless}}
    {{yield (hash class=className)}}
  {{else}}
    <button
      aria-expanded={{if @isDisclosure (if @isExpanded "true" "false") null}}
      class={{className}}
      disabled={{@isDisabled}}
      type={{-velvet/arg @type "button"}}
      {{on "click" this.clickHandler}}
      {{@privateDropdownTrigger}}
      ...attributes
    >
      {{#if @isLoading}}
        <VelvetSpinner />
      {{/if}}
      {{yield (hash class=className)}}
      {{#if @isDisclosure}}
        {{#if @isExpanded}}
          <this.VelvetIconXMark class="velvet-button-disclosure-icon" />
        {{else}}
          <this.VelvetIconChevronDown class="velvet-button-disclosure-icon" />
        {{/if}}
      {{/if}}
    </button>
  {{/if}}
{{/let}}