{{#let
  (-velvet/class-list
    "velvet-icon-button"
    (concat "velvet-icon-button-" (-velvet/arg @size "md"))
    (concat "velvet-icon-button-" (-velvet/arg @variant "primary"))
    (if @isRound "velvet-icon-button-round")
    (if @isDisabled "velvet-icon-button-disabled")
    (if @isDisclosure (if @isExpanded "velvet-icon-button-expanded"))
  )
  as |className|
}}
  {{#if @isRenderless}}
    {{yield (hash class=className)}}
  {{else}}
    <button
      class={{className}}
      disabled={{@isDisabled}}
      type={{-velvet/arg @type "button"}}
      {{on "click" this.clickHandler}}
      {{@privateDropdownTrigger}}
      ...attributes
    >
      {{#if @isLoading}}
        <VelvetSpinner />
      {{else if (has-block)}}
        {{yield (hash class=className)}}
      {{else if @isDisclosure}}
        {{#if @isExpanded}}
          <this.VelvetIconXMark class="velvet-icon-button-disclosure-icon" />
        {{else}}
          <this.VelvetIconChevronDown
            class="velvet-icon-button-disclosure-icon"
          />
        {{/if}}
      {{/if}}
    </button>
  {{/if}}
{{/let}}