{{! @glint-nocheck }}
{{! Needs https://github.com/embroider-build/embroider/pull/1367 to remove `@glint-nocheck`. }}

<select
  class={{-velvet/class-list
    "velvet-select"
    (concat "velvet-select-" (-velvet/arg @size "md"))
    (concat "velvet-select-" (-velvet/arg @variant "primary"))
    (if @isInvalid "velvet-select-invalid")
    (if @isPill "velvet-select-pill")
    (if @isDisabled "velvet-select-disabled")
    (if this.shouldRenderPlaceholder "velvet-select-placeholder")
    "form-select"
  }}
  disabled={{@isDisabled}}
  {{on "change" this.changeHandler}}
  ...attributes
>
  {{#if this.shouldRenderPlaceholder}}
    <option disabled selected={{true}}>
      {{@placeholder}}
    </option>
  {{/if}}
  {{yield
    (hash
      Option=(component
        (ensure-safe-component this.VelvetSelectOption)
        privateOnCreate=this.addOption
        privateOnDestroy=this.removeOption
        privateSelected=@selected
      )
    )
  }}
</select>