{{#let (helper "-velvet/class" "velvet-checkbox") as |class|}}
  <label
    class={{-velvet/class-list
      (class)
      (class (or @color "primary"))
      (class (or @size "md"))
      (if @isDisabled (class "disabled"))
    }}
  >
    <input
      checked={{if @inGroup (eq (get @groupValue @name) true) @isChecked}}
      class={{-velvet/class-list
        "form-checkbox"
        (class "input")
      }}
      disabled={{@isDisabled}}
      indeterminate={{@isIndeterminate}}
      name={{@name}}
      type="checkbox"
      {{(if (and @onChange (not @isDisabled)) (modifier this.on "change" (fn (if @inGroup this.invokeGroupHandler this.invokeHandler) @onChange)))}}
      ...attributes
    >
    {{yield}}
  </label>
{{/let}}