{{! @glint-nocheck }}

<label
  class={{-velvet/class-list
    "velvet-checkbox"
    (concat "velvet-checkbox-" (or @size "md"))
    (if @isDisabled "velvet-checkbox-disabled")
  }}
>
  <input
    checked={{if @inGroup this.isCheckedInGroup @isChecked}}
    class="velvet-checkbox-input form-checkbox"
    disabled={{@isDisabled}}
    indeterminate={{@isIndeterminate}}
    name={{@name}}
    type="checkbox"
    {{on
      "change"
      (if
        @inGroup
        (if
          (and @onChangeGroup (not @isDisabled))
          this.changeGroupHandler
          (-velvet/noop)
        )
        (if (and @onChange (not @isDisabled)) this.changeHandler (-velvet/noop))
      )
    }}
    ...attributes
  />
  {{yield}}
</label>