{{page-title "Velvet Thunder"}}

{{#each (array "bg-indigo-100" "bg-indigo-900") as |bgColor|}}
  <div class="overflow-auto p-8 {{bgColor}}">
    {{#each (array "indigo") as |color|}}
      {{#each (array "sm" "md" "lg") as |size|}}
        <div class="flex mb-8 last:mb-0 space-x-4">
          {{#each (array "solid" "outline" "ghost") as |variant|}}
            <VelvetButton
              @color={{color}}
              @size={{size}}
              @variant={{variant}}
            >
              Button
            </VelvetButton>

            <VelvetButton
              @color={{color}}
              @isLoading={{true}}
              @size={{size}}
              @variant={{variant}}
            >
              Button
            </VelvetButton>

            <VelvetButton
              @color={{color}}
              @isDisabled={{true}}
              @size={{size}}
              @variant={{variant}}
            >
              Disabled
            </VelvetButton>

            <VelvetButton
              @color={{color}}
              @isRounded={{true}}
              @size={{size}}
              @variant={{variant}}
            >
              Button
            </VelvetButton>

            <VelvetButton
              @color={{color}}
              @isDisabled={{true}}
              @isRounded={{true}}
              @size={{size}}
              @variant={{variant}}
            >
              Disabled
            </VelvetButton>

            <VelvetButton
              @isRenderless={{true}}
              @color={{color}}
              @size={{size}}
              @variant={{variant}}
              as |button|
            >
              <LinkTo @route="application" class={{button.class}}>
                Link
              </LinkTo>
            </VelvetButton>
          {{/each}}
        </div>
      {{/each}}
    {{/each}}
  </div>
{{/each}}

{{#each (array "bg-indigo-100" "bg-indigo-900") as |bgColor|}}
  <div class="overflow-auto p-8 {{bgColor}}">
    {{#each (array "indigo") as |color|}}
      <div class="flex mb-8 last:mb-0 space-x-4">
        {{#each (array "sm" "md" "lg") as |size|}}
          <VelvetSpinner
            @color={{color}}
            @size={{size}}
          />
        {{/each}}
      </div>
    {{/each}}
  </div>
{{/each}}