{{#let (helper "-velvet/class" "velvet-radio") as |class|}}
  <label
    class={{-velvet/class-list
      (class)
      (class (or @color "primary"))
      (class (or @size "md"))
      (if @isDisabled (class "disabled"))
    }}
  >
    <input
      checked={{if @inGroup (eq @value @groupValue) @isChecked}}
      class={{-velvet/class-list
        "form-radio"
        (class "input")
      }}
      disabled={{@isDisabled}}
      name={{@name}}
      type="radio"
      value={{@value}}
      {{(if (and @onChange (not @isDisabled)) (modifier this.on "change" (fn (if @inGroup this.invokeGroupHandler this.invokeHandler) @onChange)))}}
      ...attributes
    >
    {{yield}}
  </label>
{{/let}}