{{! @glint-nocheck }}

{{#let (helper "-velvet/class" "velvet-progress") as |class|}}
  <div
    class={{-velvet/class-list
      (class)
      (class (or @size "md"))
      (class (or @variant "primary"))
    }}
    aria-valuemax={{this.max}}
    aria-valuemin={{this.min}}
    aria-valuenow={{this.value}}
    aria-valuetext={{@text}}
    role="progressbar"
    ...attributes
  >
    <div class={{class "line"}} style={{this.lineStyle}}></div>
  </div>
{{/let}}